@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: "Sora", sans-serif;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Sora", sans-serif;
}


  /* Google Translate Styling */
  #google_element .goog-te-gadget {
    background-color: white;
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
  }
  
  #google_element .goog-te-gadget select {
    background-color: green;
    color: white;
    border-color: red;
    border-radius: 12px;
    padding: 5px;
    border: 1px solid red;
  }
  