body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* Google Translate Styling */
  #google_element .goog-te-gadget {
    background-color: white;
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
  }
  
  #google_element .goog-te-gadget select {
    background-color: green;
    color: white;
    border-color: red;
    border-radius: 12px;
    padding: 5px;
    border: 1px solid red;
  }
  
